html body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 360px auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    grid-template-rows: 16% auto;
}

.barra-lateral {
    background-color: oklch(0.685 0.169 237.323);
    color: white;
}

.opcao {
    display: grid;
    grid-template-rows: 120px 30px 30px 30px 30px 120px 30px 30px 30px;
    padding: 20px;
}

.opcoes {
    background-color: oklch(0.685 0.169 237.323);
    border: 0px;
    color: white;
}

.pesquisa {
    border: 0px solid white;
    border-radius: 8px;
    background-color: #dce0e4;
    padding-left: 700px;
    max-width: 50px;
    max-height: 400px;
}


.cabecalho {
    display: grid;
    grid-row: 1;
    padding: 30px;
    grid-template-columns: auto 500px;
    grid-template-rows: 20px auto;
    height: 30%;
}

.name {
    grid-row: 2;
    margin: 20px;
}

.button {
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: oklch(0.685 0.169 237.323);
    margin: 20px;
}


.conteiner {
    background-color: rgb(219, 219, 219);
    grid-column: 2;
    grid-row: 2 / 3;
    display: grid;
    padding: 20px;

    grid-template-columns: 500px auto 400px;
    grid-template-rows: 100px 100px 100px 100px 70px;


}

#conteineres {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
    padding: 20px;


}

.project {
    grid-row: 1;
    grid-column: 1;
}

.announcements {
    grid-column: 3;
    grid-row: 1;
}

.trending {
    grid-column: 3;
    grid-row: 5;
}

.perfils {
    grid-column: 3;
    grid-row: 6;
}

#announcements {
    grid-row: 2 / 3;
    grid-column: 3;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

}

.card-conteiner {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 100px;
}

.card-announcements {
    padding: 20px;
}

.titule-announcements {
    font-size: 20px;
}

.titule-card {
    font-size: 30px;
}

.perfils {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 22px;
}